@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
   overflow: auto; 
} 

nav{
    display: flex;
    width: 100%;
    height: 4rem;
    background: #c71004;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    padding: 2rem,4rem;
    box-shadow: 0px 4px 4px #00000040;
}
nav .icon .logo{
    height: 3rem;
    margin:10px;
}
nav .icon {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
nav .icon h1{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-left: -1rem;
}
nav .side{
    display: flex;
    list-style: none;
    padding: 0.6rem;
    margin-right: 4rem;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.7rem;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

nav .cart:hover, .shopbag:hover, .message:hover, .acc:hover {
   color: #00f349;
}
nav .cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .cart p{
    font-size: 0.6rem;
    padding: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #f47575;
    color: #ffffff;
    margin-left: -0.5rem;
    margin-top: -10px;
}


nav .search_box{
    display: flex;
    margin: 1rem ;
    line-height: 1rem;
    
}
nav .search_box input{
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 0.2rem;
  width:500px;
  border-radius: 0.2rem;
}
nav .search_box span{
    color: #ffffff;
    padding: 0.443rem;
    height: 100%;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
}
nav .search_box span:hover{
    color: #00f349;
}

#container{
    display: flex;
    align-items: center;
    min-height: 70vh;
    background-position: center;
    
}
#home{
    width: 100%;
    z-index: -1;
}
.topmessage{
    background-color: #f0dede;
    text-align: center;
    margin: -10rem 3rem 1rem ;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;

}
.suggest{
    background-color:#c71004 ;
    margin: -0.3rem 3rem 1rem;
    border: none;
    border-radius: 0.3rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    display: flex;
   
 
}
 .suggest_text{
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 3rem 1.2rem;
    background-color: #9f180e;
    border-radius: 0.3rem;
    margin: 1rem 3rem 0rem;

}
.suggest_box{
    margin: 1.5rem;
    width: fit-content;
    display: grid;
    transition: all 0.3s;
}
.suggest_box .pic_s{
    height: 17rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    align-items: center;
}
.suggest_box:hover{
    transform: scale(0.9);
}
.product_info{
    margin-top: -5rem;
    padding: 1rem;
}
.product_info .prod_name{
    font-size: 1rem;
}
.product_info .price{
    font-size: 1.4rem;
    font-weight: 1000;
    text-align: right;
}
.banner{
    margin: 1rem 3rem 1rem;
}
.banner .pic_banner{
    border-radius: 0.2rem;
    width: 100%;
}
.category{
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 2rem;
}
.category #uniform {
   color: #ffffff;
   background-color: #c71004;
   width: 100%;
   padding: 0.5rem;
   margin-right: 0.5rem;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
   border-radius: 0.2rem; 
   font-size: 1.3rem;
   font-weight: 750;
}
#merch{
    color: #ffffff;
   background-color: #c71004;
   width: 100%;
   padding: 0.5rem;
   font-size: 1.3rem;
   margin-right: 0.5rem;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
   border-radius: 0.2rem; 
   font-weight: 750;
}
#org_merch{
    color: #ffffff;
    background-color: #c71004;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem; 
    font-weight: 750;
}

 #org_merch:hover{
    background-color:#ffffff;
    color: #c71004;
 }
 #merch:hover{
    background-color:#ffffff;
    color: #c71004;
 }
 #uniform:hover{
    background-color:#ffffff;
    color: #c71004;
 }
 .preview{
    margin: 1.5rem 3rem 0rem;
    background-color: #ffffff;
    height: 33rem;
    width:30.5%;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
 }
 .product{
    margin: 1rem 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
 }
.product_box{
    margin-top: -34rem;
    margin-left: 32rem;
    margin-right: 1rem;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.product_box .suggest_pic{
    margin-left: 1.3rem;
    margin-bottom: -3rem;
    transition: all 0.4s;
}
.product_box .pic_s{
    height: 17rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    align-items: center;
    transition: all 0.4s;
   
}
.product_box .suggest_pic:hover{
    transform: scale(0.9);
}

.popup_acc{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
}
 .form_pop{
    width: 25rem;
    height: 30rem;
    background:rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.form_pop h1{
    color: #c71004;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}
.log_in h2{
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 10px;
}
.log_in input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 97%;
    position: relative;
    font-size: 0.9rem;
    height: 2rem;
    border: 1px #000000 solid ;
    border-radius: 0.2rem;
}

.log_in .log_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c71004;
    width: 94%;
    margin: 10px;
    border: none;
    color: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.log_in .log_btn:hover{
    background-color: #9f180e;
}
.close{
    justify-items: right;
    margin-left: 21rem;
}
.close:hover{
    color: #c71004;
}
.form_pop #showSignUp{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #c71004;
}
#showSignUp:hover{
    color: #9f180e;
}
.log_in #haveAcc{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.log_in a{
    text-decoration: none;
}
.sign_up input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 97%;
    position: relative;
    font-size: 1rem;
    height: 2rem;
    border: 1px #000000 solid ;
    border-radius: 0.2rem;
}
#signUp{
    font-size: 1.5rem;
    color: #c71004;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.sign_up h2{
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 10px;
}
.form_pop_sign{
    width: 25rem;
    height: 37rem;
    background:rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
#signUp{
    margin-top: -0.5rem;
}
.sign_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c71004;
    width: 94%;
    margin: 10px;
    border: none;
    color: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
}
.sign_btn:hover{
    background-color: #9f180e;
}
#showLogIn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #c71004;
}
#showLogIn:hover{
    color: #9f180e;
}
.sign_up p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sign_up a{
    text-decoration: none;
}