<h2 class="title-admin" id="modal-title">Welcome to the Admin Dashboard</h2>
<div id="container-ad">
   <img src="{{ url_for('static', filename='img/bsu.png') }}" id="admin-c">
<form id="editModalForm" method="POST" action="/edit_product/{{ product.id }}">
   <div class="form-column">
     <!-- Fields for product details -->
     <label for="name">Item</label>
     <input type="text" name="name" value="{{ product.name }}" required>
     <label for="price">Price</label>
     <input type="number" name="price" value="{{ product.price }}" required>
     <label for="description">Description</label>
     <input type="text" name="description" value="{{ product.description }}" required>
     
     <!-- ... (add more fields as needed) -->
   </div>
 
   <div class="form-column">
     <!-- Fields for product variants -->
     {% for variant in variants %}
       <label for="variant_{{ variant.id }}">{{ variant.size }} Stock</label>
       <input type="number" name="variant_{{ variant.id }}" value="{{ variant.stock }}" required>
       <!-- ... (add more fields as needed) -->
     {% endfor %}
   </div>
 
   <!-- Use type="submit" for the Save Changes button -->
   <div class="changes-btn">
     <button type="submit" class="btn btn-primary">Save Changes</button>
     <a href="{{ url_for('admin') }}" class="btn btn-cancel">Cancel</a>
   </div>
 </form>
</div>

<script>
   {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
           {% for category, message in messages %}
               {% if category == 'success' %}
                   // Display a success message alert
                   alert('{{ message }}');
               {% elif category == 'info' %}
                   // Display an info message alert
                   alert('{{ message }}');
               {% endif %}
           {% endfor %}
       {% endif %}
   {% endwith %}
</script>
